/* styling for whole body */
body{

  align-items: center;
  position: center;
  align-items: center;
  justify-content: center;
  background-image: url(w2.jpg);
  backface-visibility: visible;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  color: linear-gradient(to bottom,  rgb(32, 1, 145), rgb(0, 0, 9));
  margin-bottom: 9rem;
  margin-top: 9rem;
  margin-top: 9rem;
  margin-left: 9rem;

}


/* for whole structure */
.App{

  align-items: center;
  position: absolute;
  background-size: cover;
  align-items: center;
  justify-content: center;

}


/* styling for heading Tool-Tip */
.heading{

  display: flex;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  margin-top:-8rem;
  margin-left: 45%;
  font-weight: 700;
  font-optical-sizing: 4rem;
  background-image: linear-gradient(to bottom, rgba(58, 3, 109, 0.322), rgb(58, 3, 109) 45%);
  background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color:transparent; 
  text-shadow: 4px 6px 6px rgba(58, 3, 109, 0.534) ;
   
}


/* styling for statement "select the position of hovering" */
.grp-name{

  display: flex;
  margin-top:  6% ;
  margin-left: 2%;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color:rgba(36, 4, 85, 1); 
  text-shadow: 4px 6px 6px rgba(58, 3, 109, 0.6) ;

}


/* styling for button positions */
.btn-position{
  
  align-items: center;
  justify-content: center;
  width: 100%; 

}


/* styling for navigation bar which includes top, left, right , down buttons */
.navigation {

  margin-top: 10rem;
  align-items: center;
  background-attachment: fixed;
  width: 100%;
  margin: auto;
  display: inline-block;
  max-width: 1000px;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 30%;

}


/* styling for "hover me" div */
.Hover-btn{

  margin: auto;
  align-items: center;
  text-align: center;
  width: 15vw;
  height: 8vh;
  border-radius: 8px;
  text-decoration: 4.5px solid black;
  border:4px solid black; 
  text-transform: inherit;
  font-weight: 550;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-style: oblique;
  color: black;
  padding-top: 15px;
  animation-name: shine;   
  animation-duration: 5s;
  animation-iteration-count: infinite;
  box-shadow: #039a59;
  margin-top: 11rem;
  margin-left: 27.5rem; 
  margin-right: 20rem;
  background-clip: text;
    -webkit-background-clip: text; 
  text-shadow: 4px 6px 6px rgba(3, 109, 22, 0.534) ;

}


/* styling for animation */
@keyframes shine{

  0%, 100%{
    box-shadow: 0px 0px 40px -12px rgba(7, 37, 28, 0.797);
  }

  50%{
    box-shadow: 0px 0px 40px 10px  rgb(9, 28, 19);
  }

}


/* styling for buttons which is on navigation bar */
.button{

  display: flex;
  align-items: center;
  width: 100%;
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color:transparent;  
  text-shadow: 4px 6px 6px rgba(58, 3, 109, 1) ;
  border-spacing: 10rem;

}


/* styling for top hovering statement */
.top{

  height: 30%;
  width: 35%;
  margin-top: -16.5%;
  margin-left: 36%;
  padding: 6px 10px 15px 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.22rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: rgba(95, 140, 102, 0.176);
  color: rgb(1, 7, 2);

}


/*  styling for down hovering statement  */
.down{

  height: 30%;
  width: 35%;
  margin-top: 4%;
  margin-left: 36%;
  padding: 6px 10px 15px 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.22rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: rgba(95, 140, 102, 0.176);
  color: rgb(1, 7, 2);

}


/* styling for left hovering statement */
.left{

  height: 30%;
  width: 35%;
  margin-top: -6%;
  margin-left: 1rem;
  padding: 6px 10px 15px 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.22rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: rgba(95, 140, 102, 0.176);
  color: rgb(1, 7, 2);
  
}


/* styling for right hovering statement */
.right{

  height: 30%;
  width: 35%;
  margin-top: -6.2%;
  margin-left: 73%;
  padding: 6px 10px 15px 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.22rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: rgba(95, 140, 102, 0.176);
  color: rgb(1, 7, 2);

}


/* styling for active buttons */
.active {

  background-color: rgba(105, 23, 227, 0.425);

}


/* styling for buttons when hover */
button:hover {

  opacity: 0.7;
  animation-name: shine;
  cursor:pointer;
  animation-name: shine;
  animation-duration: 0s;  
  animation-duration: s;
  animation-iteration-count: infinite;

}


/* styling for buttons */
button{

  width: 5rem;
  height: 2rem;
  margin-top: -1.8rem;  
  border-radius: 4px;
  border: 1.5px solid rgba(58, 3, 109, 1);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 530;
  margin-right: 3rem;

}